.header{
    background-color: whitesmoke;
    color: rgba(36, 36, 36, 0.6);
    padding: 1em;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.CardContainer{
    margin: 1em;
    padding: 1em;
}